In [1]:
import pandas as pd
import altair as alt

In [2]:
df = pd.read_csv('https://storage.googleapis.com/kagglesdsdata/datasets/703056/1228604/penguins_size.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20240206%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20240206T172340Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=073f4b5269ee4195ac778d9fd150451940cd31ce3bfad36078d008fa53a4879e671790d06361193bd0987ff1620d3fce9e409380e011f120de05f4dccd7a508072bfefa6bde9c0e8951081aa96456038a5472902d776a499d3628040e161837bf7d10f5c08bcd54d6cb38c5abf7d637fe4d5dda5b74970e35355347fced6f9a3ae34217f5085bd045c875e2aa1029ea8fb06889634611781773a430e808d4581847087672ab41f2288a72ad7b3d8727bfac80d4641d06bfc64ace03eea8832bc01987eecdc0ad010a9ce77d813517124e53664ec74b6292ffa515c36cc9a9bb138eb05f82c7a0935df1b1e04e211d2aee93c7f09f6676ed38dafa70bb47bde2e')

In [3]:

df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [4]:
df.iloc[0].to_dict()

{'species': 'Adelie',
 'island': 'Torgersen',
 'culmen_length_mm': 39.1,
 'culmen_depth_mm': 18.7,
 'flipper_length_mm': 181.0,
 'body_mass_g': 3750.0,
 'sex': 'MALE'}

In [5]:
df.shape

(344, 7)